﻿@{
    ViewData["Title"] = "Home Page";
}

<div class="container-xxl my-md-4 bd-layout">
    <div class="card">
        <div class="card-header">
            Senior .NET Developer Hands On Test
        </div>
        <div class="card-body">
            <h5 class="card-title">By Roberth Dudiver</h5>
            <p class="card-text"></p>
            <a href="Employees" class="btn btn-primary">Try it </a>
        </div>
    </div>
</div>