﻿@model List<AppSalary.Models.EmployeeModelDTO>
@{
    ViewData["Title"] = "Employees";
}
<div class="my-md-4 bd-layout card">
    <div class="card-header">
        Employess List
    </div>
    <div class="card-body">
        <div class=" my-md-4 bd-layout">
            <div class="form">

                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Employe Id" id="idemployee" aria-label="Recipient's username with two button addons">
                    <button id="searchbtn" class="btn btn-outline-secondary" type="button">
                        <i class="fas fa-user" id="iconu"></i>
                        <span class="spinner-border spinner-border-sm"  id="loading" role="status" aria-hidden="true"  style="display:none"></span>
                    </button>
                </div>
            </div>
        </div>


        <div class="bd-example">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Name</th>
                        <th scope="col">Role</th>
                        <th scope="col">Anual Salary</th>
                        <th scope="col">Type</th>



                    </tr>
                </thead>
                <tbody id="table">
                    @foreach (var item in Model)
                    {

                        <tr>
                            <th scope="row"> @Html.DisplayFor(modelItem => item.Id)</th>
                            <td> @Html.DisplayFor(modelItem => item.Name)</td>
                            <td> @Html.DisplayFor(modelItem => item.RoleName)</td>
                            <td> @String.Format("{0:C}", item.AnnualSalary)</td>
                            <td>
                                @{
                                    if (item.ContractTypeName == "HourlySalaryEmployee")
                                    {
                                        <i class="far fa-clock" title="@item.ContractTypeName"></i>
                                    }
                                    else
                                    {
                                        <i class="fas fa-calendar-alt" title="@item.ContractTypeName"></i>

                                    }
                                }
                            </td>
                        </tr>
                    }


                </tbody>

            </table>
        </div>

    </div>
</div>

@section Scripts
{
    <script type="text/javascript">
        $(document).ready(function () {
            $("#loading").hide();


            // Evento que envía una petición Ajax al servidor
            $('#searchbtn').click(function (e) {

                $("#iconu").hide();
                $("#loading").show();

                let id = $('#idemployee').val().trim()


                $.ajax({
                    type: "GET",
                    url: "Employees/GetEmploye?id=" + id,
                    content: "application/json; charset=utf-8",
                    dataType: "json",
                    success: function (d) {
                        if (d != undefined && d != null)
                            $('#table').html(d);
                        $("#iconu").show();
                        $("#loading").hide();
                    
                    },
                    error: function (xhr, textStatus, errorThrown) {
                        alert('Error!!');
                        $("#iconu").show();
                        $("#loading").hide();
                    }
                });


            });


        });
    </script>
}